<?xml version="1.0" encoding="utf-8"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties">
    <Application>Wedge</Application>
    <AppVersion>1.13</AppVersion>
    <DocSecurity>0</DocSecurity>
    <HyperlinksChanged>false</HyperlinksChanged>
    <LinksUpToDate>true</LinksUpToDate>
    <ScaleCrop>false</ScaleCrop>
    <SharedDoc>false</SharedDoc>
    <Company>裂章</Company>
</Properties>